label {
    font-weight: 500;
}

button {
    font-weight: 600;
}

input[type="file"] {
    overflow: hidden;
}

input.ng-invalid.ng-touched {
    border-left: 3px solid red;
}

.bError {
    border-left: 3px solid red;
}

select.ng-invalid.ng-touched {
    border-left: 3px solid red;
}